bin
src/**/*.a
src/**/*.d
src/**/*.o
src/**/*_y.*
src/**/*.yy.*
src/**/*builtin_headers*.inc
src/cbmc-gc/cbmc-gc
test
src/cbmc/src/ansi-c/cprover_library.inc
src/cbmc/src/ansi-c/file_converter
src/cbmc/src/ansi-c/library/converter
src/cbmc/src/big-int/test-bigint
src/cbmc/src/cbmc/cbmc
src/cbmc/src/goto-analyzer/goto-analyzer
src/cbmc/src/goto-cc/goto-cc
src/cbmc/src/goto-diff/goto-diff
src/cbmc/src/goto-instrument/goto-instrument
src/cbmc/src/symex/symex
src/cbmc/src/util/irep_ids.h
src/cbmc/src/util/irep_ids.inc
src/cbmc/src/util/irep_ids_convert
